/* HEADER */

header
{
    background-color: var(--lightblue);
}

.inner__header
{
    max-width: 1440px;
    max-height: 100px;
    height: 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner__header .logo
{
    position: relative;
    display: block;
    height: 100%;
}

.inner__header .logo img
{
    display: block;
    position: relative;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
}

.navigation
{
    width: 70%;
    position: relative;
}

.inner__navigation
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inner__navigation ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inner__navigation ul li
{
    display: block;
}

.inner__navigation ul li a
{
    font-size: 32px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--white);
    transition: background-color .1s, color .1s;
}

.inner__navigation ul li a:hover
{
    background-color: var(--white);
    color: var(--lightblue);
}

.inner__navigation ul li a:active
{
    background-color: var(--white);
    color: var(--gray);
}

/* HEADER */
