@import url('../styles/colors.css');
@import url(header.css);
@import url(footer.css);

.services
{
    max-width: 1300px;
    margin: 0 auto;
}

.services h1.title
{
    font-size: 48px;
}

.service
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". . . .";
    position: relative;
    margin: 30px 0;
    width: 90%;
    height: 120px;
    cursor: pointer;
    border-radius: 50vh;
    background-color: var(--white);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, .2);
}

.service .icon
{
    left: 0;
    top: 0;
    height: 120px;
    width: 120px;
    border-radius: 50vh;
    background-color: var(--lightblue);
}

.service .icon img
{
    width: 70%;
    height: 70%;
    margin: 15%;
    transition: transform .1s ease-in-out;
}

.service .name
{
    line-height: 120px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.service .time
{
    font-size: 20px;
    font-weight: bold;
    line-height: 120px;
}

.service .time::before
{
    content: 'Срок: ';
    color: var(--lightblue);
}

.service .price
{
    font-size: 20px;
    font-weight: bold;
    line-height: 120px;
}

.service .price::before
{
    content: 'Цена: ';
    color: var(--lightblue);
}

.service .order
{
    padding: 10px 30px;
    font-size: 24px;
    font-weight: bold;
    height: 36%;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50vh;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--lightblue);
    color: var(--white);
    transition: box-shadow .2s ease-in-out;
}

.service .order:hover
{
    box-shadow: 0px 2px 4px 2px var(--lightblue);
}

.service:hover .icon img
{
    transform: scale(1.3);
}

/* Popup */

.popup
{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
    transition: all .3s ease-out;
}

.popup.open
{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.popup .empty_area
{
    position: fixed;
    width: 100%;
    height: 200%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
}

.popup__body
{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    padding-top: 40px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, .25);
}

.popup__body div.title
{
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    min-width: 400px;
    transform: translateX(-50%);
    padding: 5px 30px;
    padding-bottom: 50px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    border-radius: 50vh;
    background-color: var(--white);
    color: var(--darkblue);
    z-index: -9;
}

.popup__body .close__button
{
    position: absolute;
    display: block;
    right: 24px;
    top: 10px;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background-color: var(--lightgray);
    z-index: 999;
}

.popup__body .close__button:hover
{
    background-color: var(--darkgray);
}

.popup__body .close__button .fa
{
    position: absolute;
    color: #F44336;
    display: block;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__body .popup__form
{
    border-radius: inherit;
    z-index: 999;
}

.popup__body .popup__form form.data .columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.popup__form form.data .column
{
    display: block;
    margin: 0 20px;
}

.popup__form form.data h1.title
{
    margin-bottom: 10px;
}

.popup__form form.data .input__container
{
    margin-bottom: 15px;
}

.popup__form .sumbit__button
{
    display: block;
}

/* Popup */

/* Inputs */

.input__container {
    user-select: none;
    height: 40px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input {
    background-color: #e6e6e6;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .6);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 2px 20px;
    width: 100%;
}

select.input
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.cut {
    background-color: transparent;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: background-color 200ms, transform 200ms;
    width: 76px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
    background-color: rgba(0, 0, 0, .8);
}
  
.placeholder {
    color: rgba(0, 0, 0, .4);
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 50%;
    transform: translateY(-50%);
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: rgba(255, 255, 255);
}

/* Dropdown */
.dropdown
{
    cursor: default;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: border-radius .2s ease-out;
}

.dropdown.open
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown ~ .icon
{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown ~ .icon .fa
{
    font-size: 20px;
    transition: transform .2s ease-out;
}

.dropdown.open ~ .icon .fa
{
    transform: rotate(-90deg);
}

.options
{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    display: block;
    width: 100%;
    background-color: #e6e6e6;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out;
    z-index: 100;
}

.options .option
{
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

.options .option:last-child
{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.options .option:hover
{
    background-color: rgba(0, 0, 0, .2);
}

.dropdown.open ~ .options
{
    visibility: visible;
    opacity: 1;
}

.options:focus
{
    visibility: visible;
    opacity: 1;
}

/* Inputs */