@import url(colors.css);
@import url(smartphone.css);

* {
    font-family: 'Ubuntu';
}

body
{
    margin: 0 auto;
}

header
{
    max-width: 1440px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: aquamarine;
}

.logo
{
    display: inline-block;
    margin: 0;
    width: 10%;
    margin-left: 20px;
}

.logo img
{
    display: block;
    width: 100%;
}

nav
{
    display: inline-block;
    position: relative;
    margin: 0;
    width: 90%;
}

.menu_button
{
    display: none;
}

.inner_nav
{
    display: flex;
    position: relative;
    top: 50%;
    font-size: 1.5vw;
    font-weight: 700;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
}

.nav-item
{
    display: block;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 10px 30px;
    transition: all .1s linear;
    cursor: pointer;
    user-select: none;
}

.nav-item:hover
{
    background-color: cornflowerblue;
}

.nav-item:hover .fa
{
    color: white;
}