@media (max-width: 767px)
{
    .menu_button,
    .menu_button::before,
    .menu_button::after 
    {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu_button
    {
        right: 35px;
    }

    .menu_button::before {
        content: '';
        margin-top: -8px;
    }
      
    .menu_button::after {
        content: '';
        margin-top: 8px;
    }

    .menu_button.open
    {
        background-color: rgba(255, 255, 255, 0);
    }

    .menu_button.open::after
    {
        margin-top: 0;
        transform: rotate(45deg);
    }

    .menu_button.open::before
    {
        margin-top: 0;
        transform: rotate(-45deg);
    }

    .inner_nav
    {
        display: block;
        position: absolute;
        right: -100%;
        transition: right 400ms linear;
        background-color: white;
        border-radius: 5px;
        margin: 0;
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 10px;
        box-shadow: -10px 0 10px 0 rgba(0, 0, 0, .1);
    }

    .nav-item
    {
        padding: 5px 20px;
        margin-bottom: 10px;
    }

    .menu_button.open + .inner_nav
    {
        right: 0;
    }
}